@import "~bootstrap/scss/bootstrap";

a.my_nav-link {
    color: #0d6efd;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s;
    border: 3px solid transparent;

    &:hover {
        background-color: #0b5ed7;
        color: white;
        border: 3px solid white;
    }

    &.active {
        color: white;
        background-color: #003c95;
    }

    &.active:hover {
        border: 3px solid transparent;
    }
}